body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.home {
    margin: 15px;
}

.footer1 {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    background: linear-gradient(to right, #adbdff, #94a6f5, #7b90eb, #617ae1, #4564d6, #504fba, #543b9e, #522783, #4f1757, #3d1033, #250c19, #000000);
    margin: 0;
}

.menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.menu .navbarlogo img {
    max-width: 10%;
    height: auto;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 30px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

.menu a:hover {
    text-decoration: none;
    color: #ADBDFF;
}

.menu a:active {
    color: #000;
}

#Buytickets {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125vh;
    background: linear-gradient(to right, #adbdff, #94a6f5, #7b90eb, #617ae1, #4564d6, #504fba, #543b9e, #522783, #4f1757, #3d1033, #250c19, #000000);
}

.ContactForm{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background: linear-gradient(to right, #adbdff, #94a6f5, #7b90eb, #617ae1, #4564d6, #504fba, #543b9e, #522783, #4f1757, #3d1033, #250c19, #000000);
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

select,
input[type="number"],
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"],button {
    background-color: #ADBDFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

input[type="submit"]:hover,button:hover {
    background-color: #000;
}

.column,.column2,.column3 {
    flex: 33.33%;
    height: 450px;
    margin: 20px;
    padding: 15px;
    background-color: grey;
    color: white;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25)
}

.column img,.column2 img,.column3 img{
    margin-top: -115px;
    width: 100%;
    height: auto;
}

.lower-area{
    background: #48494b;
    padding:15px;
    margin-left:-50px;
    text-align: center;
    color: white;
    height: 760px;
}

.lower-area img{
    float:center;
    width:50%
}

.lower-area h1{
    margin-top:45px;
    color: #adbdff;
}

.lowerbadge img{
    width:40%;
    float:left;
    margin-left: 70px;
    margin-right:-150px;
    margin-bottom:-150px;
    margin-top:-15px;
    height auto;
}

.buy-tickets{
    text-align:center;
    margin: 20px;
    padding-bottom: 20px;
}

.buy-tickets button {
    width: 20%;
    font-size: 125%;
}

.column:hover {
    background-color: #94a6f5;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.column2:hover {
    background-color: #504fba;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.column3:hover {
    background-color: #3d1033;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.artistgenerator{
    text-align: center;
    margin: 50px;
    margin-left: 250px;
    margin-right: 250px;
}

.artistbox{
    margin-top:30px;
    border-radius:15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 15px;
    opacity:0;
    transition: opacity 0.5s ease-in-out;
}

.featuredartist{
    margin-top:30px;
    border-radius:15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 15px;
    transition: opacity 0.5s ease-in-out;
}

.featuredartist img{
    width: 10%;
    height: auto;
}

.show-styles {
    opacity: 1; /* When the show-styles class is present, set opacity to 1 */
}

.artistbox img {
    max-width: 70%;
    height: auto;
    border-radius: 5px;
}

.faq,.schedule{
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: white;
}

#faqbackground{
    display:flex;
    background: linear-gradient(to right, #adbdff, #94a6f5, #7b90eb, #617ae1, #4564d6, #504fba, #543b9e, #522783, #4f1757, #3d1033, #250c19, #000000);
}

.schedule{
    margin-top:50px;
}

.scheduledays{
    text-align:center;
    display: flex;
}

.day1, .day2 {
    flex: 1;
    height: 200px;
    margin: 15px;
    margin-bottom:30px;
    padding: 5px;
    background-color: grey;
    color: white;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.day1:hover, .day2:hover {
    background-color: #94a6f5
}

.ticket-container {
    display: flex;
}

.welcomebox{
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom:-15px;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.welcomebox h1,.faq h2{
    text-align:center;
    background: linear-gradient(to right, #adbdff, #94a6f5, #7b90eb, #617ae1, #4564d6, #504fba, #543b9e, #522783, #4f1757, #3d1033, #250c19, #000000);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}

.schedule h1{
    text-align:center;
    color: #adbdff;
}

.home-image-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
        align-items: center;
   }

.home-image-container img {
    width:50%;
    height:auto;
    border-radius:25px;
    border: 4px solid #adbdff
}

.ticketsbutton{
     text-align:center;
        margin: 20px;
        padding-bottom: 50px;

   }

   .ticketsbutton button{
       width: 20%;
       font-size: 125%;
   }


@media only screen and (min-width: 601px) and (max-width: 1000px) {
    .lowerbadge img{
        display:none;
    }

    .column img,
        .column2 img,
        .column3 img {
        display:none
        }

    .column,
    .column2,
    .column3{
    height:auto;
    }
}


@media only screen and (max-width: 800px) {
    .menu a {
    }

    .menu img{
    opacity:0;
    }

    .buy-tickets button,
    .ticketsbutton button {
        width: 100%; /* Make buttons full width on small screens */
        font-size: 16px; /* Adjust font size for smaller screens */
    }

    .column,
    .column2,
    .column3 {
        flex: 100%; /* Make columns full width on small screens */
        margin:0;
        height:auto;
    }

    .column img,
    .column2 img,
    .column3 img {
        display:none
    }


    .lower-area{
        background: #48494b;
        padding:15px;
        margin-left:-50px;
        margin-top:-20px;
        text-align: center;
        color: white;
        height: auto;

    }

    .lower-area img{
        float:center;
           width:50%
    }

    .lower-area h1{
        margin-top:45px;
        color: #adbdff;
    }

    .lowerbadge img{
        display:none;
    }

    .day1,.day2{
        height:auto;
    }

    .lower-area {
        margin-left: 0;
    }

    .home-image-container img {
        width:85%;
    }

    .lower-area img {
        width: 80%; /* Adjust image width for smaller screens */
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .artistgenerator{
        width:90%;
        align-content:center;
        margin-left:30px;
    }

    form{
        width:80%;
    }

    .artistbox {
        text-align:center;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 15px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .show-styles {
        opacity: 1;
    }

    .artistbox img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }

}

